*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.myButton {
	box-shadow: 0px 1px 0px 0px #fff6af;
	background:linear-gradient(to bottom, #fff199 5%, #ffe838 100%);
	background-color:#fff199;
	border-radius:6px;
	border:1px solid #c7b340;
	display:inline-block;
	cursor:pointer;
	color:#333333;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffee66;
}
.myButton:hover {
	background:linear-gradient(to bottom, #ffe838 5%, #fff199 100%);
	background-color:#ffe838;
}
.myButton:active {
	position:relative;
	top:1px;
}
nav{
    background-color: black;
    padding: 20px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .logo a{
    text-decoration: none;
    color: yellow;
    font-size: 35px;
    font-weight: 600;
}
nav ul{
    display: flex;
    align-items: center;
    list-style: none;
    padding: 10px;
}
nav li{
    margin-left: 7px;
}
nav li a{
    text-decoration: none;
    color: azure;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 15px;
    border-radius: 5px;
    transition: 0.3s;
}
nav li a:hover{
    background-color: black;
    color: red;
}
body{
    height: 290vh;
    background: linear-gradient(rgba(255, 255, 255, 0.281), rgba(255, 255, 255, 0.308)),url(/img/colmeia.png);
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
}
.texto .titulo{
    color: black;
    font-size: 60px;
    font-weight: 550;
    text-align: center;
    align-items: center;
    border: 20px;
    padding: 20px;
}    
.conteudo .sub_titulo{
    color: rgb(240, 176, 107);
    font-size: 60px;
    font-weight: 550;
    text-align: center;
    align-items: center;
    border: 20px;
    padding: 20px;
}    
.conteudo{
    text-align: center;
    align-items: center;
    font-weight: 200;
    border-radius: 10px;
    justify-content: center;
    border: 20px;
    padding: 50px;
}
.imagem1{
    transition: all 0.5s;
    cursor: pointer;
}

.imagem1:hover{
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
}